.bgstyle {
    background-image: url(/assets/img/plane_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.formStyle {
    padding: 50px;
    border-radius: 15px;
    border: 4px solid;
    background-color: white;
    opacity: 0.9;
}

label{
  font-size: 18px;
  font-weight: 600;
}

.form-control:focus{
  color: black;
  background-color: #fff;
  border-color: black;
  outline: 0;
  box-shadow: none;
}

