<div class="container py-5">

  <div class="panel">
    <div class="panel-heading">{{ title }}</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Flight No</th>
              <th>Source</th>
              <th>Destination</th>
              <th>Arrival Time</th>
              <th>Departure Time</th>
              <th>Duration</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let f of flights">
              <td>{{f.flightNumber}}</td>
              <td>{{f.source}}</td>
              <td>{{f.destination}}</td>
              <td>{{f.arrivalTime}}</td>
              <td>{{f.departureTime}}</td>
              <td>{{f.duration}}</td>
            </tr>

          </tbody>
        </table>
        <!-- <button (click)="submit(source, destination)">Show Flights</button> -->
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary">Add</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete-modal">Delete</button>

  <!-- Delete Modal Start -->
  <!-- <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModal">Flight Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="flight_id" class="col-form-label">Flight ID:</label>
              <input [(ngModel)]="flights.flightNumber" class="form-control" id="flight_id" name="flightNo">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="delete(flight_id)">Delete</button>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Delete Modal Start -->

  <!-- Add Flight Form Start -->

  <!-- <form #pform="ngForm" ngNativeValidate (ngSubmit)="add(pform)">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="FlightNo">Flight No</label>
          <input [(ngModel)]="flights.flightNumber" class="form-control" id="FlightNo" placeholder="Enter first name"
            name="flight_no" required>
        </div>
        <div class="form-group">
          <label for="Source">Source</label>
          <input [(ngModel)]="flights.source" class="form-control" id="Source" placeholder="Enter last name"
            name="source" required>
        </div>
        <div class="form-group">
          <label for="flight_dest">Destination</label>
          <input [(ngModel)]="flights.destination" class="form-control" id="flight_dest" aria-describedby="emailHelp"
            placeholder="Enter email" name="destination" required>
        </div>
        <div class="form-group">
          <label for="arrival_time">Arrival Time</label>
          <input [(ngModel)]="flights.arrivalTime" class="form-control" id="arrival_time" placeholder="Password"
            name="arrival_time" required>
        </div>
        <div class="form-group">
          <label for="departure_time">Departure Time</label>
          <input [(ngModel)]="flights.departureTime" class="form-control" id="departure_time" placeholder="Password"
            name="departure_time" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="duration">Duration</label>
          <input [(ngModel)]="flights.duration" class="form-control" id="duration" placeholder="Password"
            name="duration" required>
        </div>
        <div class="form-group">
          <label for="Price">Price</label>
          <input [(ngModel)]="flightPrice.flightPrice" class="form-control" id="Price" placeholder="Password" name="duration" required>
        </div>
      </div>
    </div>

    <button class="btn btn-primary">Add</button>
  </form> -->

  <!-- Add Flight Form End -->

</div>