<div class="container py-5">

  <button [routerLink]="['/']">Logout</button>
  <div class="panel">
    <div class="panel-heading">{{ title }}</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Flight No</th>
              <th>Source</th>
              <th>Destination</th>
              <th>Arrival Time</th>
              <th>Departure Time</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let f of flights">
              <td>{{f.flightNumber}}</td>
              <td>{{f.source}}</td>
              <td>{{f.destination}}</td>
              <td>{{f.arrivalTime}}</td>
              <td>{{f.departureTime}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- <button type="button" class="btn btn-dark">Add</button> -->

  <!-- Add Flight Form Start -->

  <form #pform="ngForm" ngNativeValidate [formGroup]="addFlightForm" (ngSubmit)="add(pform)">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="flightNo">Flight No</label>
          <input [(ngModel)]="flight.flightNumber" class="form-control" id="flightNo" placeholder="Enter Flight No."
            name="flight_no" formControlName="flightNo"
            [ngClass]="{'is-invalid': addFlightForm.get('flightNo').touched && addFlightForm.get('flightNo').invalid}">
          <div class="invalid-feedback">
            <div>Flight Number is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="source">Source</label>
          <input [(ngModel)]="flight.source" pattern="[A-Za-z]*" class="form-control" id="source"
            placeholder="Enter source" name="source" formControlName="source"
            [ngClass]="{'is-invalid': addFlightForm.get('source').touched && addFlightForm.get('source').invalid}">
          <div class="invalid-feedback">
            <div>Please enter the source</div>
          </div>
        </div>
        <div class="form-group">
          <label for="destination">Destination</label>
          <input [(ngModel)]="flight.destination" pattern="[A-Za-z]*" class="form-control" id="destination"
            placeholder="Enter destination" name="destination" formControlName="destination"
            [ngClass]="{'is-invalid': addFlightForm.get('destination').touched && addFlightForm.get('destination').invalid}">
          <div class="invalid-feedback">
            <div>Please enter the destination</div>
          </div>
        </div>
        <div class="form-group">
          <label for="arrTime">Arrival Time</label>
          <input type="time" [(ngModel)]="flight.arrivalTime" class="form-control" id="arrTime"
            placeholder="Arrival time" name="arrival_time" formControlName="arrTime"
            [ngClass]="{'is-invalid': addFlightForm.get('arrTime').touched && addFlightForm.get('arrTime').invalid}">
          <div class="invalid-feedback">
            <div>Please enter the Arrival Time</div>
          </div>
        </div>
        <div class="form-group">
          <label for="deparTime">Departure Time</label>
          <input type="time" [(ngModel)]="flight.departureTime" class="form-control" id="deparTime"
            placeholder="Departure time" name="departure_time" formControlName="deparTime"
            [ngClass]="{'is-invalid': addFlightForm.get('deparTime').touched && addFlightForm.get('deparTime').invalid}">
          <div class="invalid-feedback">
            <div>Please enter the Departure Time</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="date">Flight Date</label>
          <input type="date" [(ngModel)]="flight.flightdate" class="form-control" id="date" placeholder="Select Date"
            name="date" formControlName="date"
            [ngClass]="{'is-invalid': addFlightForm.get('date').touched && addFlightForm.get('date').invalid}">
          <div class="invalid-feedback">
            <div>Please enter the Date</div>
          </div>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" [(ngModel)]="flight.pricePerSeat" class="form-control" id="price"
            placeholder="Enter Price" name="price" formControlName="price"
            [ngClass]="{'is-invalid': addFlightForm.get('price').touched && addFlightForm.get('price').invalid}">
          <div class="invalid-feedback">
            <div>Please enter the rate</div>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-dark" [disabled]="!addFlightForm.valid">Add</button>
  </form>

  <!-- Add Flight Form End -->

</div>