<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HOME</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Login <span
              class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <section class="container pad-tb">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Round Trip</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">One Way</label>
    </div>
  </section> -->

  <section>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">LOGIN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form >
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input [(ngModel)]="users.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email" name="email_add">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" [(ngModel)]="users.password" class="form-control" id="exampleInputPassword1" 
                placeholder="Password" name="password">
              </div>
              <button class="btn btn-primary" (click)="login()">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="formGroupExampleInput">First-Name</label>
              <input [(ngModel)]="users.fName" class="form-control" id="formGroupExampleInput"
                placeholder="Enter first name" name="first_name" required>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Last-Name</label>
              <input [(ngModel)]="users.lName" class="form-control" id="formGroupExampleInput"
                placeholder="Enter last name" name="last_name" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input [(ngModel)]="users.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" name="email_add" required>
            </div>
            <div class="form-group">
              <label for="pswd">Password</label>
              <input type="password" [(ngModel)]="users.password" class="form-control" id="pswd" placeholder="Password"
                name="password" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="conf-pswd">Confirm Password</label>
              <input type="password" class="form-control" id="conf-pswd" placeholder="Password" name="conf_pass"
                required>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Date of birth</label>
              <input type="date" [(ngModel)]="users.dob" class="form-control" id="formGroupExampleInput"
                placeholder="dob" name="dob" required>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Phone Number</label>
              <input type="number" min="6" max="10" [(ngModel)]="users.phoneNo" class="form-control"
                id="formGroupExampleInput" placeholder="phone number" name="phone_number" required>
            </div>
          </div>
        </div>
        <script>
          var password = document.getElementById("pswd"),
            confirm_password = document.getElementById("conf-pswd");
          function validatePassword() {
            if (password.value != confirm_password.value) {
              confirm_password.setCustomValidity("Password does not match");
            }
            else {
              password.setCustomValidity("Password match");
            }
          }
          password.onchange = validatePassword;
          confirm_password.onkeyup = validatePassword;

          var check = function () {
            if (document.getElementById('password').value == document.getElementById('confirm_password').value) {
              document.getElementById('message').style.color = 'green';
              document.getElementById('message').innerHTML = 'matching';
            }
            else {
              document.getElementById('message').style.color = 'red';
              document.getElementById('message').innerHTML = 'not matching';
            }
          }
        </script>
        <button class="btn btn-primary" (click)="register()">Submit</button>
      </form>
    </div>

  </section>

</body>

</html>