<form ngNativeValidate #pform="ngForm" (ngSubmit)="store()">
  <div class="container py-5">
    <h3>Enter Passenger Details</h3>
    <br>

    <div *ngFor="let p of passengers; let i = index;">

      <div class="form-group">
        <label for="name">Passenger Name</label>
        <input type="text" class="form-control w-50" placeholder="Enter Passenger Name"
          title="Only alphabets are allowed" name="firstName" [(ngModel)]="passengers[i].name" pattern="[^0-9]*"
          required>
      </div>
      <div class="form-group">
        <label for="seatNumber">Enter Seat Number</label>
        <input type="number" class="form-control w-50" placeholder="Enter Seat Number" name="seatno"
          [(ngModel)]="passengers[i].seatno" pattern="[0-9]*" required>
      </div>


      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="gender" value="Male"
                [(ngModel)]="passengers[i].gender" required>
              <label class="form-check-label" for="gender">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="gender" value="Female"
                [(ngModel)]="passengers[i].gender" required>
              <label class="form-check-label" for="gender">
                Female
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control w-50" placeholder="Enter Age" name="age"
          [(ngModel)]="passengers[i].age" minlength="1" maxlength="2" required (keypress)="keyPress($event)">
      </div>
    </div>

    <button type="submit" class="btn btn-dark">Proceed to book</button>
  </div>
</form>